<!--the Footer on the bottom of the pages-->
<mat-toolbar>

    <!--This the credits at the left of the div-->
    <div class="credits">
        <p>Website Created by Team “The Celestials”</p>
        <p>Front End Team: Huck Woody, Allyson Lambson, Dmitriy Chayka</p>
        <p>Backend Team: Isaac Rodriguez, Evani Gil</p>
    </div>

    <span class="example-spacer"></span>

    <!--Middle words of the footer-->
    <div class="emailinfo">
        <p>Email us for support or to hire us for your website build at: thecelestials@developers.com</p>
    </div>

    <span class="example-spacer"></span>

    <!--These are the bottons to the social media pages-->
    <div class="sociallinks"> 
        <button mat-mini-fab class="example-icon" aria-label="Example icon-button with facebook icon">
            <a class="link" href="https://www.facebook.com/" target="_blank">
                <fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
            </a>
        </button>
    </div>

    <div class="sociallinks">
        <button mat-mini-fab class="example-icon" aria-label="Example icon-button with perm identity icon">
            <a class="link" href="https://twitter.com/" target="_blank">
                <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
            </a>
        </button>
    </div>

    <div class="sociallinks">
        <button mat-mini-fab class="example-icon" aria-label="Example icon-button with perm identity icon">
            <a class="link" href="https://www.instagram.com/" target="_blank">
                <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
            </a>
        </button>
    </div>


</mat-toolbar>

