mat-toolbar {
    height: 100px;
    background-color: rgb(228, 163, 85);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.credits {
    font-size: small;
    max-width: 300px;
    white-space: normal;
    height: 100%;
    text-align: center;
    
}

.credits > p {
    line-height: 22px;
    margin: 0;
    padding: auto;
}

@media only screen and (min-width: 701px) {
    .smCredits {display: none;}
}

@media only screen and (max-width: 700px) {
    .lgCredits {display: none;}
}

.emailinfo {
    font-size: small;
    max-width: 200px;
    white-space: normal;
    height: 100px;
    background-color: rgb(228, 163, 85);
    text-align: center;
}

.emailinfo > p {
    height: auto;
    line-height: 22px;
    margin-top: 15px;
}

.socialDiv {
    display: flex;
    background-color: rgb(228, 163, 85);
}

.sociallinks {
    margin-left: 1em;
    margin-right: 1em;
}

.link {
    color: rgb(58, 59, 59);
}

