.sign-up {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.signupDiv {
    background-color: rgb(174, 121, 52);
    padding: 30px;
    margin-top: 50%;
    margin-bottom: 50%;
    border-radius: 10px;
}

.clickHere  {
    color: white;
    text-decoration: none;
}