<div class="sign-up">
    <div class="signupDiv">
        <form class="flex">
            <div id="heading"> 
                <br>
                <p class="title">Sign Up</p>
            </div>
            <br>
            <div class="form-group">

                <input [(ngModel)]="user.firstName" class="form-input" type="text" name="firstName" required
                    placeholder="First Name" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="user.lastName" class="form-input" type="text" name="lastName" required
                    placeholder="Last Name" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="user.email" class="form-input" type="text" name="email" required
                    placeholder="Email" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="user.phoneNumber" class="form-input" type="text" name="phoneNumber" required
                    placeholder="Phone Number" />
            </div>
            <div class="form-group">
                <input [(ngModel)]="user.password" class="form-input" type="password" name="password" required
                    minlength="8" placeholder="Password" />
            </div>

            <br>

            <div class="flex-button">
                <button mat-raised-button type="button" (click)="register()" class="form-button btn-primary btn:hover">
                    Submit
                </button>
                <br>
                <br>
                <h3>Already have an account?</h3>
                <button mat-raised-button>
                    <a class="clickHere" routerLink="/login">Click here</a>
                </button>
            </div>
        </form>
    </div>
</div>