
<!--ngFor loops that loops through the mockdb and displays the coffees-->


<div fxLayout="row">

<div class="Title" >

  <div class="checkoutBody">

    <mat-card>Credit Card Transaction</mat-card>
 
    
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Please Enter Your </mat-label>
        <input matInput disabled value="                 Credit Card Info">
      </mat-form-field>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Credit Card Number</mat-label>
          <input matInput>
        </mat-form-field></td>
       
        
      </tr></table>
    
      <p>
       
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Expiration Date</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </p>
    
      <table class="example-full-width" cellspacing="0"><tr>
        <td><mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CVV</mat-label>
          <input matInput placeholder="Ex. 556">
        </mat-form-field></td>
        
      </tr></table>
    </form>
    <div class="example-button-row">
      <button mat-raised-button>Pay with 3rd Party </button>
      <button mat-raised-button color="primary" (click)="checkoutOrder()">Submit Order </button>

    </div>
  </div>
    

  </div>


  <div class="checkoutList">
    <div class="listItems">
        <div class="loopcontainer"  *ngFor="let item of items; let i = index">
          <div class="divcoffee">
              <h2>{{item.nameOfCoffee}}</h2>
              <img [src]='item.img_url'/>
              <p>Price: ${{item.price}}</p>
              <button mat-raised-button color="primary" (click)="deleteItem(i)">Delete Item</button>
              <br>
              <br>
          </div>
        </div>
        <div *ngIf="items.length == 0">
          <h1>Your Cart Is Empty</h1>
        </div>
    </div>
  </div>

</div>



