.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


  .Title {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;  
  
  
  }
  .example-form {
    color: black;
      min-width: 150px;
      max-width: 500px;
      width: 100%;
    }
    
    .example-full-width {
      width: 100%;
      background-color: rgb(144, 150, 121);
    }
    
    td {
      padding-right: 8px;
    }
    mat-label{
      color: black;
    }
    .example-button-row button,
    .example-button-row a {
      margin-right: 8px;
    
      background-color: rgb(16, 204, 94);
    }