
<div class="wholePage">

  <div class="Title" >

    <div class="checkoutBody">

      <mat-card>Credit Card Transaction</mat-card>

      <br>

      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Credit Card Number</mat-label>
          <input matInput placeholder="Ex. 0000000000000000">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Expiration Date</mat-label>
          <input matInput placeholder="Ex. 12/22">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>CVV</mat-label>
          <input matInput placeholder="Ex. 556">
        </mat-form-field>
      </form>
      <br>
      <div class="example-button-row">
        <button mat-raised-button>Pay with PayPal </button> <br><br>
        <button mat-raised-button (click)="checkoutOrder()">Submit Order </button>
      </div>
    </div>
  </div>

  <div class="checkoutList">
    <div class="listItems">
        <div class="loopcontainer"  *ngFor="let item of items; let i = index">
          <div class="divcoffee">
              <h2>{{item.nameOfCoffee}}</h2>
              <img [src]='item.img_url'/>
              <p>Price: ${{item.price}}</p>
              <button mat-raised-button (click)="deleteItem(i)">Delete Item</button>
              <br>
              <br>
          </div>
        </div>
        <div *ngIf="items.length == 0">
          <h1>Your Cart Is Empty!</h1>
        </div>
    </div>
  </div>

</div>



