.Title {
width: 500px;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
margin-bottom: 100px;
height: 100%;
}

.profileBody {
  background-color: rgb(174, 121, 52);
  padding: 30px;
  border-radius: 10px;
}

.example-form {
  color: black;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
mat-label{
  color: black;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.confirmationCard {
  text-align: left;
}

#confirmationTitle {
  font-size: small;
}