/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-image: url(https://cdn.pixabay.com/photo/2020/07/29/08/33/coffee-5447420_1280.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
}

app-root {
    display: block;
    height: 100%;
  }

a { cursor: pointer }

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}